@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SCDream";
  src: url("./fonts/SCDream1.otf");
  font-weight: 100;
}

@font-face {
  font-family: "SCDream";
  src: url("./fonts/SCDream2.otf");
  font-weight: 200;
}

@font-face {
  font-family: "SCDream";
  src: url("./fonts/SCDream3.otf");
  font-weight: 300;
}

@font-face {
  font-family: "SCDream";
  src: url("./fonts/SCDream4.otf");
  font-weight: 400;
}

@font-face {
  font-family: "SCDream";
  src: url("./fonts/SCDream5.otf");
  font-weight: 500;
}

@font-face {
  font-family: "SCDream";
  src: url("./fonts/SCDream6.otf");
  font-weight: 600;
}

@font-face {
  font-family: "SCDream";
  src: url("./fonts/SCDream7.otf");
  font-weight: 700;
}

@font-face {
  font-family: "SCDream";
  src: url("./fonts/SCDream8.otf");
  font-weight: 800;
}

@font-face {
  font-family: "SCDream";
  src: url("./fonts/SCDream9.otf");
  font-weight: 900;
}

body {
  font-family: "SCDream";
}